<html>

<body>
    <h1>Hola, bienvenido a Django.</h1>
    <p>Mi nombre es {{clave_diccionario.upper}} {{apellido_persona.upper}}</p>
    <p>La fecha del d&iacute;a es {{fecha.day}}/{{fecha.month}}/{{fecha.year}}</p>
    <!-- &iacute; es para acentos -->
    <p>Mi novia se llama {{novia_nombre.upper}} {{novia_apellido.upper}}</p>
    <br>

    <p><Strong>Lista: </Strong>{{tema_1}}</p>
    <p><strong>Posicion 3 de la lista:</strong> {{tema_1.2}}</p>
    <br>


    <p><strong>Temas del curso:</strong></p>
    <p>
        <ul>
            {% if tema_2 %}
                    {% for tema_2 in tema_2 %}
                        <li>{{tema_2}}</li>
                    {% endfor %}
                    
                {% else %}
                    <p>No hay elementos que mostrar.</p>
            {% endif %}
        </ul>
    </p>
</body>

</html>